{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

       <!-- sidebar-information-area-start -->
        <div class="sidebar-info side-info">
            <div class="sidebar-logo-wrapper mb-25">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-8">
                        <div class="sidebar-logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo/logo-white.png' %}" alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="sidebar-close-wrapper text-end">
                            <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu-wrapper fix">
                <div class="mobile-menu"></div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- sidebar-information-area-end -->

        <!-- header area start -->
        {% include 'include/header.html' %}
        <!-- header area end -->

        <main>
            <!-- breadcrumb area start -->
            <section class="breadcrumb-area bg-default" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
                <img src="{% static 'assets/img/breadcrumb/shape-1.png' %}" alt="" class="breadcrumb-shape">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="breadcrumb-title">О нас</h2>
                                <div class="breadcrumb-list">
                                    <a href="{% url 'index' %}">Главная страница</a>
                                    <span>О нас</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb area end -->

            <!-- about area start -->
            <section class="about-area pt-140 pb-90">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="about-img mb-50">
                                <img src="{{about.image.url}}" alt="">
                                
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-10">
                            <div class="about-content mb-50">
                                <div class="section-area mb-20">
                                    <span class="section-subtitle">О нас</span>
                                    <h2 class="section-title mb-15">{{about.title}}</h2>
                                    <p class="section-text">
                                        {{about.descriptions}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about area end -->

            <!-- teacher area start -->
            <section class="h2_teacher-area pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-12 mb-30">
                            <div class="h2_teacher-section bg-default" data-background="{% static 'assets/img/teacher/2/bg.jpg' %}">
                                <div class="section-area-2">
                                    <h2 class="section-title mb-30">Наша  команда
                                        <span>Разработчиков <img src="{% static 'assets/img/banner/2/line.png' %}" alt=""></span></h2>
                                </div>
                                <div class="h2_teacher-button">
                                    <a href="#" class="theme-btn theme-btn-medium teacher-btn">Вверх </a>
                                </div>
                            </div>
                        </div>
                        {% for team in team %}
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="h2_teacher-item mb-30">
                                <div class="h2_teacher-img">
                                    <img src="{{team.image.url}}" alt="">
                                </div>
                                <div class="h2_teacher-content">
                                    <h5 class="h2_teacher-content-title">
                                        <a href="#">{{team.title}}</a>
                                    </h5>
                                    <span>{{team.work}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- teacher area end -->

            <!-- blog area start -->
            <section class="h2_blog-area pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="section-area-2 mb-50 text-center h2_blog-section-area">
                                <h2 class="section-title mb-30">Наши последни 
                                    <span>Новости <img src="{% static 'assets/img/banner/2/line.png' %}" alt=""></span></h2>
                                <p class="section-text">
                                    Благодаря сочетанию лекций, чтений и дискуссий студенты получат прочную основу в педагогической психологии.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for blog in blog %}
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="h2_blog-item mb-30">
                                <div class="h2_blog-img">
                                    <a href="{% url 'blog_detail' blog.id%}"><img src="{{blog.image.url}}" alt=""></a>
                                </div>
                                <div class="h2_blog-content">
                                    <div class="h2_blog-content-meta">
                                        <span><i class="fa-thin fa-clock"></i>{{blog.created_at}}</span>
                                    </div>
                                    <h5 class="h2_blog-content-title"><a href="{% url 'blog_detail' blog.id%}">{{blog.title}}</a></h5>
                                    <a href="{% url 'blog_detail' blog.id%}" class="theme-btn blog-btn t-theme-btn">Читать дале</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- blog area end -->

            <!-- cta area start -->
            <div class="cta-area">
                <div class="container">
                    <div class="cta-wrapper">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-6">
                                <div class="cta-content mb-30 mb-lg-0">
                                    <span class="cta-subtitle">Мотивацию надо подняяяять</span>
                                    <h2 class="cta-title">Большинство из вас знают достоинства программистов. Их, конечно же, три: лень, нетерпеливость и высокомерие.</h2>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- cta area end -->
        </main>

        <!-- footer area start -->
        {% include 'include/footer.html' %}
        <!-- footer area end -->

{% endblock %}

		