{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

       <!-- sidebar-information-area-start -->
        
        <div class="offcanvas-overlay"></div>
        <!-- sidebar-information-area-end -->

        {% include 'include/header.html'%}

        <main>
            <!-- banner area start -->
            <section class="h3_banner-area">
                <div class="h3_single-banner">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-6 col-md-12">
                                <div class="h3_banner-content">
                                    <div class="section-area-3 mb-45 ">
                                        <h1 class="section-title">{{slide.title}}</h1>
                                        <p class="section-text">{{slide.descriptions}}</p>
                                    </div>
                                    <img class="h3_banner-content-shape-1" src="{% static 'assets/img/banner/3/shape-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 d-none d-lg-block">
                                <div class="h3_banner-right">
                                    <div class="h3_banner-img">
                                        <img src="{{slide.image.url}}" alt="">
                                    </div>
                                    <div class="h3_banner-right-shape">
                                        <div class="inner-shpae-1">
                                            <img class="h3_banner-shape-2" src="{% static 'assets/img/banner/3/shape-2.png' %}" alt="">
                                        </div>
                                        <img class="h3_banner-shape-1" src="{% static 'assets/img/banner/3/shape-3.png' %}" alt="">
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner area end -->

            <!-- about area start -->
            <section class="h3_about-area pt-140 pb-90">
                <img src="{% static 'assets/img/about/3/shape-5.png' %}" alt="" class="h3_about-top-shape">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="h3_about-img mb-50">
                                <div class="h3_about-inner-img w_img mr-50">
                                    <img src="{{about.image.url}}" alt="">
                                </div>
                                <div class="h3_about-img-shape d-none d-sm-block">
                                    <img class="h3_about-img-shape-1" src="{% static 'assets/img/about/3/shape-1.png' %}" alt="">
                                    <img class="h3_about-img-shape-2" src="{% static 'assets/img/about/3/shape-2.png' %}" alt="">
                                    <img class="h3_about-img-shape-3" src="{% static 'assets/img/about/3/shape-3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="h3_about-wrap mr-65 mb-50">
                                <img src="{% static 'assets/img/about/3/shape-4.png' %}" alt="" class="h3_about-wrap-shape">
                                <div class="section-area-3 mb-35 small-section-area-3">
                                    <span class="section-subtitle">Знайте о нас</span>
                                    <h2 class="section-title mb-25">{{about.title}}</h2>
                                    <p class="section-text">
                                        {{about.descriptions}}
                                    </p>
                                </div>
                               
                                <div class="h3_about-button">
                                    <a href="{% url 'about' %}" class="theme-btn theme-btn-medium theme-btn-3">Подробнее<i class="fa-light fa-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about area end -->

            <!-- category area end -->

          
            <!-- course area end -->

            <!-- admission area start -->
            <section class="h3_admission-area pt-140 pb-90">
                <img src="{% static 'assets/img/admission/3/shape-1.png' %}" alt="" class="h3_admission-shape-1">
                <img src="{% static 'assets/img/admission/3/shape-3.png' %}" alt="" class="h3_admission-shape-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 ">
                            <div class="h3_admission-wrap mr-65 mb-50">
                                <img src="{% static 'assets/img/admission/3/shape-2.png' %}" alt="" class="h3_admission-wrap-shape-2">
                                <div class="section-area-3 mb-35 small-section-area-3">
                                    <h2 class="section-title mb-25">Здесь вы можете оставить отзыв</h2>
                                </div>
                                <div class="h3_admission-button">
                                    <a href="#" class="theme-btn theme-btn-medium theme-btn-3">Вверх<i class="fa-light fa-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="h3_admission-form mb-50">
                                <h5 class="h3_admission-form-title">Заявка на отзывы</h5>
                                <form method = "post">
                                    {% csrf_token %}
                                    <div class="row g-15">
                                        <div class="col-xl-6 col-sm-6">
                                            <div class="h3_admission-form-input">
                                                <input type="text" name = "username" placeholder="Введите Фио">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-sm-6">
                                            <div class="h3_admission-form-input">
                                                <input type="text" name = "work"  placeholder="Введите специальность">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="h3_admission-form-input">
                                                <textarea name="message" placeholder="Введите отзыв"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="h3_admission-form-btn">
                                                <button type="submit" class="theme-btn h3_admission-btn theme-btn-full theme-btn-3">Отправить отзыв<i class="fa-light fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <span class="h3_admission-text">Courses Education Admissions</span> -->
            </section>
            <!-- admission area end -->

            <!-- teacher area start -->
            <section class="h3_teacher-area pt-135 pb-140">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-area-3 text-center mb-60">
                                <span class="section-subtitle">Познакомьтесь с нашими наставниками</span>
                                <h2 class="section-title mb-0">Наши опытные преподователи</h2>
                            </div>
                        </div>
                    </div>
                    <div class="teacher-active swiper">
                        <div class="swiper-wrapper">
                            {% for teacher in teachers %}
                            <div class="swiper-slide">
                                <div class="h3_teacher-item mb-25">
                                    <div class="h3_teacher-img">
                                        <img src="{{teacher.image.url}}" alt="">
                                        <div class="h3_teacher-social">
                                            <ul>
                                                <li><a href="{{teacher.instagram}}"><i class="fa-brands fa-instagram"></i></a></li>
                                                <li><a href="{{teacher.telegram}}"><i class="fa-brands fa-telegram"></i></a></li>
                                            </ul>
                                            <span class="share"><i class="fa-light fa-share-nodes"></i></span>
                                        </div>
                                    </div>
                                    <div class="h3_teacher-content">
                                        <h5 class="h3_teacher-content-title">
                                            <a href="#">{{teacher.title}}</a>
                                        </h5>
                                        <span>{{teacher.work}}</span>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                        </div>
                        <div class="teacher-pagination mt-45"></div>
                    </div>
                </div>
            </section>
            <!-- teacher area end -->

            <!-- testimonial area start -->
            <section class="h3_testimonial-area pt-135 pb-140">
                <div class="container">
                    <div class="row align-items-end mb-30">
                        <div class="col-md-8">
                            <div class="section-area-3 mb-30">
                                <span class="section-subtitle">Отзывы</span>
                                <h2 class="section-title mb-0">Что говорят люди
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="h3_testimonial-navigation mb-40">
                                <div class="h3_testimonial-prev"><i class="fa-regular fa-arrow-left"></i>
                                </div>
                                <div class="h3_testimonial-next"><i class="fa-regular fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h3_testimonial-active swiper">
                        <div class="swiper-wrapper">
                            {% for review in review %}
                            <div class="swiper-slide">
                                <div class="h3_testimonial-item">
                                    <div class="h3_testimonial-item-content">
                                        <p>{{review.message}}</p>
                                        <img src="{% static 'assets/img/testimonial/3/quote.png' %}" alt="" class="quote">
                                    </div>
                                    <div class="h3_testimonial-item-author">
                                        {% comment %} <img src="{% static 'assets/img/testimonial/3/1.jpg' %}" alt=""> {% endcomment %}
                                        <div class="h3_testimonial-item-author-info">
                                            <h5>{{review.username}}</h5>
                                            <span>{{review.work}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <img src="{% static 'assets/img/testimonial/3/shape-1.png' %}" alt="" class="h3_testimonial-shape-1">
                <img src="{% static 'assets/img/testimonial/3/shape-2.png' %}" alt="" class="h3_testimonial-shape-2">
                <img src="{% static 'assets/img/testimonial/3/shape-3.png' %}" alt="" class="h3_testimonial-shape-3">
                <img src="{% static 'assets/img/testimonial/3/shape-4.png' %}" alt="" class="h3_testimonial-shape-4">
            </section>
            <!-- testimonial area end -->

            <!-- blog area start -->
            <section class="h3_blog-area pt-135 pb-110">
                <div class="container">
                    <div class="row align-items-end mb-30">
                        <div class="col-md-9">
                            <div class="section-area-3 mb-30">
                                <h2 class="section-title mb-0">Прочтите наши последние новости</h2>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="h3_category-section-button mb-40 text-md-end">
                                <a href="{% url 'blog' %}" class="theme-btn theme-btn-medium theme-btn-3">Просмотреть Весь Блог
                                    <i class="fa-light fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for blog in blog %}
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="h3_blog-item mb-30">
                                <div class="h3_blog-img">
                                    <a href="{% url 'blog_detail' blog.id%}"><img src="{{blog.image.url}}" alt=""></a>
                                    {% comment %} <a href="#" class="h3_blog-img-meta">Education</a> {% endcomment %}
                                </div>
                                <div class="h3_blog-content">
                                    <div class="h3_blog-content-meta">
                                        <span><i class="fa-thin fa-clock"></i>{{blog.created_at}}</span>
                                    </div>
                                    <h5 class="h3_blog-content-title"><a href="{% url 'blog_detail' blog.id%}">{{blog.title|truncatechars:45}}</a></h5>
                                    <a href="{% url 'blog_detail' blog.id%}" class="h3_blog-btn">Читать далее<i class="fa-light fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- blog area end -->

            <!-- cta area start -->
            <div class="cta-area h3_cta-area">
                <div class="container">
                    <div class="cta-wrapper">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-6">
                                <div class="cta-content mb-30 mb-lg-0">
                                    <span class="cta-subtitle">Мотивацию надо подняяяять</span>
                                    <h2 class="cta-title">Если сразу не получилось хорошо, назовите это версией 1.0.</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cta area end -->
        </main>

        <!-- footer area start -->
        <footer class="footer-area h3_footer-area">
            <div class="footer-top pt-240 pb-55">
                <div class="container">
                   <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-7 col-md-7 col-sm-12">
                        <div class="footer-widget mb-40">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{settings.logo.url}}" width = "200px" alt=""></a>
                            </div>
                            <p class="footer-widget-text mb-35">
                                {{settings.descriptions}}
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="{{settings.instagram}}"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="{{settings.facebook}}"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="{{settings.youtube}}"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-6 d-flex justify-content-xl-center">
                            <div class="footer-widget mb-40">
                                <h5 class="footer-widget-title">Полезные Ссылки </h5>
                                <div class="footer-widget-list">
                                    <ul>
                                        <li><a href="{% url 'index' %}">Главная страница</a></li>
                                        <li><a href="{% url 'about' %}">О нас</a></li>
                                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                                        <li><a href="https://www.instagram.com/direct/t/17842610870604582/">Помощь</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-6 d-flex justify-content-xl-center order-md-4 order-xl-3">
                            <div class="footer-widget mb-40">
                                {% comment %} <h5 class="footer-widget-title">Categories</h5>
                                <div class="footer-widget-list">
                                    <ul>
                                        <li><a href="#">Design Skills</a></li>
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">Marketing</a></li>
                                        <li><a href="#">Finance & Accounting</a></li>
                                        <li><a href="#">IT & Software</a></li>
                                        <li><a href="#">Sales Marketing</a></li>
                                    </ul>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 order-md-3 order-xl-4">
                            <div class="footer-widget ml-80 mb-40">
                                {% comment %} <h5 class="footer-widget-title">Newsletter</h5>
                                <p class="footer-widget-text mb-20 newsletter-text">Sign up foe our newsletter and get 34% <br> off your next course.</p>
                                <form action="#">
                                    <div class="footer-subscribe-form">
                                        <input type="email" placeholder="Enter Your Email*">
                                        <button type="submit">Subscribe</button>
                                    </div>
                                    <div class="footer-subscribe-condition">
                                        <label class="condition_label">I agree to the terms of use and privacy policy.
                                            <input type="checkbox">
                                            <span class="check_mark"></span>
                                        </label>
                                    </div>
                                </form> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright-area">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright-text">
                                <p>Copyright © 2023  Все права защищены by Agusha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

{% endblock %}