{% load static %}
<!-- header area start -->
<header> 
    <div class="h3_header-area header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-sm-7 col-6">
                    <div class="h3_header-logo">
                        <a href="{% url 'index' %}"><img src="{{settings.logo.url}}" width='80px' alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 d-none d-xl-block">
                    <div class="h3_header-middle">
                        <nav class="h3_main-menu mobile-menu" id="mobile-menu">
                            <ul>
                                <li class="menu-has-child">
                                    <li><a href="{% url 'index' %}">Главная страница</a></li>
                                </li>
                                    <li><a href="{% url 'course' %}">Курсы</a></li>
                                {% comment %} <li class="menu-has-child">
                                    <a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="team.html">Teacher</a></li>
                                        <li><a href="team-details.html">Teacher Details</a></li>
                                        <li><a href="event.html">Events</a></li>
                                        <li><a href="event-details.html">Event Details</a></li>
                                        <li><a href="price.html">Price</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="sign-up.html">Sign Up</a></li>
                                        <li><a href="sign-in.html">Sign In</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li> {% endcomment %}
                                <li><a href="{% url 'gallery' %}">Галерея</a></li>
                                <li><a href="{% url 'blog' %}">Новости</a></li>
                                <li><a href="{% url 'about' %}">О нас</a></li>
                                <li><a href="{% url 'contact' %}">Контакты</a></li>
                            </ul>
                            
                        </nav>
                    </div>
                </div>
                 <div class="col-xl-3 col-sm-5 col-6">
                    <div class="h3_header-right">
                        <div class="h3_header-btn d-none d-sm-block">
                            <a href="#" class="header-btn theme-btn theme-btn-medium theme-btn-3">Heart<i class="fa-light fa-arrow-up-right"></i></a>
                        </div>
                        <div class="header-menu-bar d-xl-none ml-10">
                            <span class="header-menu-bar-icon side-toggle">
                                <i class="fa-light fa-bars"></i>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>
<!-- header area end -->

