{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
       <!-- sidebar-information-area-start -->

        <!-- sidebar-information-area-end -->

        <!-- header area start -->
        {% include 'include/header.html'%}
        <!-- header area end -->

        <main>
            <!-- breadcrumb area start -->
            <section class="breadcrumb-area bg-default" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg.jpg' %}">
                <img src="{% static 'assets/img/breadcrumb/shape-1.png' %}" alt="" class="breadcrumb-shape">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="breadcrumb-title">Новости</h2>
                                <div class="breadcrumb-list">
                                    <a href="{% url 'index' %}">Главная страница</a>
                                    <span>Новости</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb area end -->

            <!-- blog details area start -->
            <section class="blog_details-area pt-120 pb-80">
                <div class="container">
                    <div class="blog_details-img">
                        <img src="{{blog.image.url}}" alt="">
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="blog_details-wrap mb-60">
                                <div class="blog_details-top mb-50">
                                    <h3 class="blog_details-title">{{blog.title}}</h3>
                                    
                                </div>
                                <div class="blog_details-content">
                                    <div class="blog_details-inner-text mr-80">
                                        <p class="mb-25">{{blog.descriptions|safe}}</p>
                                    </div>
                                </div>
                                {% comment %} <div class="blog_details-comment pb-40">
                                    <h4 class="blog_details-comment-title">3 Comments:</h4>
                                    <div class="blog_details-comment-item">
                                        <div class="blog_details-comment-img">
                                            <img src="{% static 'assets/img/blog/details/author-2.jpg' %}" alt="">
                                        </div>
                                        <div class="blog_details-comment-content">
                                            <h6>Russell Sprout</h6>
                                            <span>march 29,2023 at 10:47 pm</span>
                                            <p>There are many variations passages of lorem qoree available, but the majority have content marketing suffered alteration in some form.</p>
                                            <a href="#" class="comment-reply">Reply</a>
                                        </div>
                                    </div>
                                    <div class="blog_details-comment-item ml-80">
                                        <div class="blog_details-comment-img">
                                            <img src="{% static 'assets/img/blog/details/author-3.jpg' %}" alt="">
                                        </div>
                                        <div class="blog_details-comment-content">
                                            <h6>Brian Cumin</h6>
                                            <span>march 29,2023 at 10:47 pm</span>
                                            <p>There are many variations passages of lorem qoree available, but the majority have content marketing suffered alteration in some form.</p>
                                            <a href="#" class="comment-reply">Reply</a>
                                        </div>
                                    </div>
                                    <div class="blog_details-comment-item ml-80">
                                        <div class="blog_details-comment-img">
                                            <img src="{% static 'assets/img/blog/details/author-4.jpg' %}" alt="">
                                        </div>
                                        <div class="blog_details-comment-content">
                                            <h6>Parsley Montana</h6>
                                            <span>march 29,2023 at 10:47 pm</span>
                                            <p>There are many variations passages of lorem qoree available, but the majority have content marketing suffered alteration in some form.</p>
                                            <a href="#" class="comment-reply">Reply</a>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                {% comment %} <div class="blog_details-message">
                                    <h3 class="blog_details-message-title">Send Me Message</h3>
                                    <form action="#" class="blog_details-form">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog_details-form-input mb-30">
                                                    <input type="text" placeholder="Your Name">
                                                    <span class="inner-icon"><i class="fa-thin fa-user"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog_details-form-input mb-30">
                                                    <input type="email" placeholder="Email Address">
                                                    <span class="inner-icon"><i class="fa-thin fa-envelope"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog_details-form-input mb-30">
                                                    <input type="text" placeholder="Your Number">
                                                    <span class="inner-icon"><i class="fa-thin fa-phone-volume"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog_details-form-input blog_details-form-input-select">
                                                    <span class="inner-icon"><i class="fa-thin fa-circle-exclamation"></i></span>
                                                    <select name="select" class="blog_details-form-list has-nice-select mb-30">
                                                        <option value="1">Select Subject</option>
                                                        <option value="2">Art & Design</option>
                                                        <option value="3">Graphic Design</option>
                                                        <option value="4">Web Design</option>
                                                        <option value="5">UX/UI Design</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="blog_details-form-input mb-50 blog_details-form-textarea">
                                                    <textarea name="message" cols="30" rows="10" placeholder="Feel free to get in touch!"></textarea>
                                                    <span class="inner-icon"><i class="fa-thin fa-pen"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="blog_details-form-submit">
                                                    <div class="blog_details-form-btn">
                                                        <a href="#" class="theme-btn blog_details-btn">Send Message</a>
                                                    </div>
                                                    <div class="blog_details-form-condition">
                                                        <label class="condition_label">I agree that my data is collected and stored.
                                                            <input type="checkbox">
                                                            <span class="check_mark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="col-xl-4 col-lg-4">
                            <div class="blog_details-sidebar mb-60">
                                <div class="blog_details-widget">
                                    <h4 class="blog_details-widget-title">Search</h4>
                                    <form action="#">
                                        <input type="text" placeholder="Search here...">
                                        <button type="submit"><i class="fa-thin fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                                <div class="blog_details-widget">
                                    <h4 class="blog_details-widget-title">Recent Posts</h4>
                                    <div class="blog_details-widget-post">
                                        <div class="blog_details-post-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/post-1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-post-info">
                                            <span><i class="fa-thin fa-clock"></i>March 23, 2023</span>
                                            <h6><a href="#">Education Week Policy and Practice.</a></h6>
                                        </div>
                                    </div>
                                    <div class="blog_details-widget-post">
                                        <div class="blog_details-post-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/post-2.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-post-info">
                                            <span><i class="fa-thin fa-clock"></i>March 23, 2023</span>
                                            <h6><a href="#">The Learning way Teaching
                                                & Learning.</a></h6>
                                        </div>
                                    </div>
                                    <div class="blog_details-widget-post">
                                        <div class="blog_details-post-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/post-3.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-post-info">
                                            <span><i class="fa-thin fa-clock"></i>March 23, 2023</span>
                                            <h6><a href="#">Only One thing Impossible to
                                                 Find.</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog_details-widget widget-category">
                                    <h4 class="blog_details-widget-title">Categories</h4>
                                    <div class="blog_details-widget-category">
                                        <ul>
                                            <li><a href="#">College</a></li>
                                            <li><a href="#">High School</a></li>
                                            <li><a href="#">Primary</a></li>
                                            <li><a href="#">University</a></li>
                                            <li><a href="#">Crouse</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog_details-widget">
                                    <h4 class="blog_details-widget-title">Popular Courses</h4>
                                    <div class="blog_details-widget-course">
                                        <div class="blog_details-course-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/course-1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-course-info">
                                            <h6><a href="#">The Complete JS Course
                                                For Expert!</a></h6>
                                            <a href="#" class="inner-course-rate">Free</a>
                                        </div>
                                    </div>
                                    <div class="blog_details-widget-course">
                                        <div class="blog_details-course-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/course-2.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-course-info">
                                            <h6><a href="#">Medical Visual
                                                Deployment and Usability</a></h6>
                                            <a href="#" class="inner-course-rate">Free</a>
                                        </div>
                                    </div>
                                    <div class="blog_details-widget-course">
                                        <div class="blog_details-course-img">
                                            <a href="#"><img src="{% static 'assets/img/blog/details/course-3.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog_details-course-info">
                                            <h6><a href="#">The Graphic Design with
                                                 Project Course</a></h6>
                                            <a href="#" class="inner-course-rate">Free</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog_details-widget">
                                    <h4 class="blog_details-widget-title">Tags</h4>
                                    <div class="blog_details-widget-tag">
                                        <ul>
                                            <li><a href="#">Consulting</a></li>
                                            <li><a href="#">Student</a></li>
                                            <li><a href="#">Course</a></li>
                                            <li><a href="#">Art</a></li>
                                            <li><a href="#">School</a></li>
                                            <li><a href="#">Education</a></li>
                                            <li><a href="#">Learning</a></li>
                                            <li><a href="#">Design</a></li>
                                            <li><a href="#">Online Courses</a></li>
                                            <li><a href="#">UI Design</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </section>
            <!-- course details area end -->

            
            <!-- cta area end -->
        </main>

{% include 'include/footer.html' %}
{% endblock  %}